<p-panel header="Pipes personalizados" class="p-2">
  <p>
    Pipes personalizados - creados por {{'nosotros' | togglecase}}
  </p>
</p-panel>
<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button label="ToggleCase" icon="pi pi-search"></p-button>
  </div>
  <div class="p-toolbar-group-end">
    <p-button class="mr-2" label="Por nombre" icon="pi pi-sort" severity="success"></p-button>
    <p-button class="mr-2" label="Por volar" i con="pi pi-sort" severity="danger"></p-button>
    <p-button class="mr-2" label="Por color" i con="pi pi-sort" severity="help"></p-button>
  </div>

</p-toolbar>